body {
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 50em;
    font-family: fantasy;
    line-height: 1.2;
    padding: 4em 1em;
}
h1 {
    font-size: 2em;
    color: #123618;
}
p1 {
    margin-top: 16em;
    padding-top: 16em;
    padding-top: 16em;
    color: #343434;
}
img {
    width: 30 em;
    max-width: 40em;
}
a {
    color: #2e6b3d;
}